<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="grid">
                <div class="grid_row is-40 is-lg-60">
                    <div class="grid_col is-12 is-lg-6 is-xl-4">
                        <div class="footer_about">
                            <div class="footer_about_logo">
                                <img src="/images/logo.png" alt="Naturally">
                            </div>
                            <div class="footer_about_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec nisi ac turpis laoreet auctor sed sed turpis.</p>
                            </div>
                        </div>
                        <div class="footer_contact">
                            <div class="footer_contact_item">
                                <h3>Address</h3>
                                <p>241 Devonshire Street Lebanon, PA 17042</p>
                            </div>
                            <div class="footer_contact_item">
                                <h3>Phone</h3>
                                <p>+1-800-123-45-67</p>
                            </div>
                            <div class="footer_contact_item">
                                <h3>Email</h3>
                                <p><a href="mailto:sales@naturally.com">sales@naturally.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="grid_col is-12 is-lg-6 is-xl-4 is-offset-xl-4">
                        <div class="footer_newsletter">
                            <h3>Sign Up &amp; Save</h3>
                            <p>Get exclusive offers, free shipping events & more by signing up for our promotional emails.</p>
                            <form class="footer_newsletter_form">
                                <input class="footer_newsletter_form_input" type="email" name="email" placeholder="Enter your e-mail address ..." required>
                                <button class="footer_newsletter_form_button" type="submit"><span class="icon is-send"></span></button>
                            </form>
                        </div>
                        <div class="footer_social">
                            <h3>Follow us</h3>
                            <div class="social-icons">
                                <a class="social-icons_link" href="#" target="_blank"><span class="icon is-facebook"></span></a>
                                <a class="social-icons_link" href="#" target="_blank"><span class="icon is-twitter"></span></a>
                                <a class="social-icons_link" href="#" target="_blank"><span class="icon is-instagram"></span></a>
                                <a class="social-icons_link" href="#" target="_blank"><span class="icon is-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="grid">
                <div class="grid_row is-40 is-lg-60">
                    <div class="grid_col is-12 is-lg-col">
                        <div class="footer_copyright">Copyright © 2019 Naturally.com. All rights reserved.</div>
                    </div>
                    <div class="grid_col is-12 is-lg-auto">
                        <nav class="footer_menu">
                            <ul class="footer_menu_items">
                                <li class="footer_menu_item"><a class="footer_menu_link" href="#">Privacy Policy</a></li>
                                <li class="footer_menu_item"><a class="footer_menu_link" href="#">Terms of Use</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->