<!-- Loading -->
<div class="loading is-active" data-ntr-loading>
    <span class="loading_loader"></span>
</div>
<!-- Loading End -->
<!-- Back Top -->
<div class="back-top" data-ntr-backtop>
    <span class="back-top_icon icon is-arrow-up"></span>
</div>