<div class="tab" data-ntr-tab>
    <div class="tab_nav">
        <a class="tab_nav_item" href="#" data-id="1">Mô tả</a>
        <a class="tab_nav_item" href="#" data-id="2">Thông tin khác</a>
        <a class="tab_nav_item" href="#" data-id="3">Nhận xét</a>
    </div>
    <div class="tab_page" data-id="1"><div class="shop-single_tab-description">
            <p>Sản phẩm chất lượng</p>
            <p>Sản phẩm bất tử</p>
        </div>

    </div>
    <div class="tab_page" data-id="2">
        <table class="shop-single_tab-attributes">
            <tbody>
            <tr>
                <td>Trọng lượng</td>
                <td>1 kg</td>
            </tr>
            <tr>
                <td>Kích thước</td>
                <td>10 × 10 × 30 cm</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab_page" data-id="3">
        <div class="shop-single_tab-reviews">
            <div class="shop-single_tab-reviews_comments">
                <div class="shop-single_tab-reviews_comments_heading">
                    <h3>3 review for Organic D'Anjou Pear</h3>
                </div>
                <!-- Comment -->
                <div class="comment">
                    <div class="comment_avatar">
                        <span class="aspect-ratio is-1x1"><img class="aspect-ratio_object lazyload" src="https://preview.locotheme.com/naturally-html/assets/img/avatar-1-200x200.jpg" data-srcset="https://preview.locotheme.com/naturally-html/assets/img/avatar-1-200x200.jpg 1x, https://preview.locotheme.com/naturally-html/assets/img/avatar-1-200x200.jpg 2x" alt="Author Name"></span>
                    </div>
                    <div class="comment_info">
                        <div class="comment_header">
                            <div class="comment_title">
                                <div class="comment_user">Tiana Mcdonnell</div>
                                <span class="rating">
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="rating_rate" style="width:80%;">
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="comment_date">April 16, 2019</div>
                        </div>
                        <div class="comment_body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim lorem vel lorem ullamcorper dictum. Aenean aliquam, ipsum ut efficitur porta, erat orci placerat metus, quis ullamcorper justo eros eu ex.</p>
                        </div>
                    </div>
                </div>
                <!-- Comment End -->
                <!-- Comment -->
                <div class="comment">
                    <div class="comment_avatar">
                        <span class="aspect-ratio is-1x1"><img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/avatar-2-100x100.jpg 1x, assets/img/avatar-2-200x200.jpg 2x" alt="Author Name"></span>
                    </div>
                    <div class="comment_info">
                        <div class="comment_header">
                            <div class="comment_title">
                                <div class="comment_user">Terry Figueroa</div>
                                <span class="rating">
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="rating_rate" style="width:80%;">
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="comment_date">April 16, 2019</div>
                        </div>
                        <div class="comment_body">
                            <p>Nunc vehicula efficitur tempor. Mauris eu finibus massa, sed molestie tellus. Vestibulum tellus enim, varius quis cursus porta, consequat vel mi. In efficitur velit purus, vitae pretium risus suscipit non. Vivamus nibh nisl, placerat a elit in, tincidunt tempus est. Maecenas sit amet eleifend est, a tristique diam.</p>
                        </div>
                    </div>
                </div>
                <!-- Comment End -->
                <!-- Comment -->
                <div class="comment">
                    <div class="comment_avatar">
                        <span class="aspect-ratio is-1x1"><img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/avatar-3-100x100.jpg 1x, assets/img/avatar-3-200x200.jpg 2x" alt="Author Name"></span>
                    </div>
                    <div class="comment_info">
                        <div class="comment_header">
                            <div class="comment_title">
                                <div class="comment_user">Kaycee Hess</div>
                                <span class="rating">
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="icon is-star-outline"></span>
                                    <span class="rating_rate" style="width:80%;">
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                        <span class="icon is-star"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="comment_date">April 16, 2019</div>
                        </div>
                        <div class="comment_body">
                            <p>Aliquam posuere sit amet massa non cursus. In molestie pretium velit, ut accumsan est. Praesent sit amet imperdiet nulla. Nam eu nunc efficitur, pellentesque est at, vehicula ex. Duis quis augue erat. In ac mi id ligula laoreet vulputate sit amet quis justo. In vitae elit imperdiet, congue nibh nec, interdum risus. Mauris placerat fermentum lobortis.</p>
                        </div>
                    </div>
                </div>
                <!-- Comment End -->
            </div>
            <div class="shop-single_tab-reviews_write">
                <div class="shop-single_tab-reviews_write_heading">
                    <h3>Add a review</h3>
                    <p>Your email address will not be published. Required fields are marked *</p>
                </div>
                <form class="shop-single_tab-reviews_write_form">
                    <div class="grid">
                        <div class="grid_row is-30">
                            <div class="grid_col is-12">
                                <label class="form_label">Your rating <span class="form_label_require">*</span></label>
                                <div class="rating-select" data-ntr-rating-select>
                                    <a class="rating-select_item icon is-star-outline" href="#" data-id="1"></a>
                                    <a class="rating-select_item icon is-star-outline" href="#" data-id="2"></a>
                                    <a class="rating-select_item icon is-star-outline" href="#" data-id="3"></a>
                                    <a class="rating-select_item icon is-star-outline" href="#" data-id="4"></a>
                                    <a class="rating-select_item icon is-star-outline" href="#" data-id="5"></a>
                                    <select class="rating-select_result" name="rating" required>
                                        <option value="">Rate</option>
                                        <option value="1">Very poor</option>
                                        <option value="2">Not that bad</option>
                                        <option value="3">Average</option>
                                        <option value="4">Good</option>
                                        <option value="5">Perfect</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid_col is-12">
                                <label class="form_label">Your review <span class="form_label_require">*</span></label>
                                <textarea class="form_control_textarea" name="comment" cols="30" rows="10" placeholder="Enter your review ..." required></textarea>
                            </div>
                            <div class="grid_col is-12">
                                <label class="form_label">Your name <span class="form_label_require">*</span></label>
                                <input class="form_control_input" type="text" name="author" placeholder="Enter your name ..." required>
                            </div>
                            <div class="grid_col is-12">
                                <label class="form_label">Your email <span class="form_label_require">*</span></label>
                                <input class="form_control_input" type="email" name="email" placeholder="Enter your email ..." required>
                            </div>
                            <div class="grid_col is-12">
                                <label class="form_check">
                                    <input class="form_control_checkbox" type="checkbox" name="subscribe" value="subscribe">
                                    Notify me of new posts by email.
                                </label>
                            </div>
                            <div class="grid_col is-12">
                                <button class="button is-grey" type="submit">
                                    <span class="button_text">Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>