<!-- Section Breadcrumb -->
<div class="section section-custom-8">
    <div class="container">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
            <a class="breadcrumb_link" href="/">
                <span class="breadcrumb_link_text">Trang chủ</span>
                <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
            </a>
            <a class="breadcrumb_link" href="/category">
                <span class="breadcrumb_link_text">Sản phẩm</span>
                <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
            </a>
            <span class="breadcrumb_active"><%= name%></span>
        </div>
        <!-- Breadcrumb End -->
    </div>
</div>
<!-- Section Breadcrumb End -->