<!-- Header -->
<div class="shop-header" data-ntr-shop-header>
    <div class="shop-header_views">
<!--        <div class="shop-header_layout">-->
<!--            <div class="shop-header_layout_item is-active" data-layout="grid-4">-->
<!--                <span class="shop-header_layout_item_icon icon is-grid"></span>-->
<!--                <span class="shop-header_layout_item_text">Grid View</span>-->
<!--            </div>-->
<!--            <div class="shop-header_layout_item" data-layout="list">-->
<!--                <span class="shop-header_layout_item_icon icon is-list"></span>-->
<!--                <span class="shop-header_layout_item_text">List View</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="shop-header_result">Showing <span>1–12</span> of <span>126</span> results</div>-->
    </div>
    <div class="shop-header_selects">
        <div class="shop-header_select">
            <span>Sắp xếp</span>
            <select class="form_control_select" name="orderby">
                <option value="popularity">Phổ biến</option>
                <option value="rating">Đánh giá</option>
                <option value="date" selected>Mới nhất</option>
                <option value="price">Giá: thấp đến cao</option>
                <option value="price-desc">Giá: cao đến thấp</option>
            </select>
        </div>
<!--        <div class="shop-header_select">-->
<!--            <span>Show</span>-->
<!--            <select class="form_control_select" name="showLimit">-->
<!--                <option value="12" selected>12</option>-->
<!--                <option value="24">24</option>-->
<!--                <option value="48">48</option>-->
<!--            </select>-->
<!--        </div>-->
    </div>
</div>
<!-- Header End -->