<!-- Pagination -->
<div class="pagination">
    <div class="pagination_items">
        <a class="pagination_item" href="#"><span class="icon is-back"></span></a>
        <a class="pagination_item" href="#">1</a>
        <a class="pagination_item is-active" href="#">2</a>
        <a class="pagination_item" href="#">3</a>
        <a class="pagination_item" href="#">4</a>
        <a class="pagination_item" href="#">5</a>
        <a class="pagination_item" href="#"><span class="icon is-next"></span></a>
    </div>
</div>
<!-- Pagination End -->