<!-- Single Header -->
<div class="blog-single_header" data-aos="ntr-fade-up" data-aos-once="true">
    <h1 class="blog-single_title"><%= title%></h1>
    <ul class="blog-single_meta">
        <li class="blog-single_meta_item">
            <span class="blog-single_meta_item_icon icon is-calendar"></span>
            <span><%- dateFormat(createdAt)%></span>
        </li>
        <li class="blog-single_meta_item">
            <span class="blog-single_meta_item_icon icon is-user"></span>
            <span>By <a href="#">Bobbie Ryan</a></span>
        </li>
    </ul>
</div>
<!-- Single Header End -->