<div class="blog-single_media" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
    <div class="blog-single_media_photo">
        <span class="aspect-ratio is-2x1">
            <img class="aspect-ratio_object lazyload" src="<%= thumbnail %>" data-srcset="<%= thumbnail %> 1x, <%= thumbnail %> 2x" alt="<%= title %>">
        </span>
    </div>
</div>