<!-- Section Features -->
<div class="section section-custom-17">
    <div class="container">
        <div class="grid">
            <div class="grid_row is-60">
                <div class="grid_col is-12 is-lg-4" data-aos="ntr-fade-up" data-aos-once="true">
                    <!-- Feature -->
                    <div class="feature">
                        <div class="feature_icon">
                            <div class="icon is-watch"></div>
                        </div>
                        <div class="feature_info">
                            <h3 class="feature_title">Đơn giản & dễ dàng</h3>
                            <p class="feature_summary">Đặt hàng nhanh tiện lợi</p>
                        </div>
                    </div>
                    <!-- Feature End -->
                </div>
                <div class="grid_col is-12 is-lg-4" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
                    <!-- Feature -->
                    <div class="feature">
                        <div class="feature_icon">
                            <div class="icon is-quality"></div>
                        </div>
                        <div class="feature_info">
                            <h3 class="feature_title">Chất lượng tốt</h3>
                            <p class="feature_summary">Cửa hàng luôn đảm bảo chất lượng của từng sản phẩm</p>
                        </div>
                    </div>
                    <!-- Feature End -->
                </div>
                <div class="grid_col is-12 is-lg-4" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="400">
                    <!-- Feature -->
                    <div class="feature">
                        <div class="feature_icon">
                            <div class="icon is-box"></div>
                        </div>
                        <div class="feature_info">
                            <h3 class="feature_title">Miễn phí vận chuyển</h3>
                            <p class="feature_summary">Miễn phí vận chuyện chuyển trong nội thành</p>
                        </div>
                    </div>
                    <!-- Feature End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section Features End -->