<!-- Section Slider -->
<div class="section section-custom-16">
    <!-- Slider Hero -->
    <div class="slider-hero2" data-ntr-slider-hero2>
        <div class="slick-slider">
            <div class="slick-slide">
                <div class="slider-hero2_item" data-ntr-background="images/bg-16.jpg">
                    <div class="container">
                        <div class="slider-hero2_item_heading">
                            <h1 class="slider-hero2_item_title">Enjoy Delicious Foods</h1>
                            <p class="slider-hero2_item_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque fringilla, augue quis commodo eleifend<br>lectus libero condimentum ...</p>
                            <p>
                                <a class="link is-color-secondary" href="#">
                                    <span class="link_text">Shop Now</span>
                                    <span class="link_icon icon is-next"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-slide">
                <div class="slider-hero2_item" data-ntr-background="images/bg-17.jpg">
                    <div class="container">
                        <div class="slider-hero2_item_heading">
                            <h1 class="slider-hero2_item_title">Tropical Fruits</h1>
                            <p class="slider-hero2_item_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque fringilla, augue quis commodo eleifend<br>lectus libero condimentum ...</p>
                            <p>
                                <a class="link is-color-secondary" href="#">
                                    <span class="link_text">Shop Now</span>
                                    <span class="link_icon icon is-next"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-slide">
                <div class="slider-hero2_item" data-ntr-background="images/bg-18.jpg">
                    <div class="container">
                        <div class="slider-hero2_item_heading">
                            <h1 class="slider-hero2_item_title">Grown with Love</h1>
                            <p class="slider-hero2_item_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque fringilla, augue quis commodo eleifend<br>lectus libero condimentum ...</p>
                            <p>
                                <a class="link is-color-secondary" href="#">
                                    <span class="link_text">Shop Now</span>
                                    <span class="link_icon icon is-next"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Hero End -->
</div>
<!-- Section Slider End -->